@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-Regular.eot");
  src: local("TT Norms Regular"), local("TTNorms-Regular"), url("../fonts/TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-Regular.woff2") format("woff2"), url("../fonts/TTNorms-Regular.woff") format("woff"), url("../fonts/TTNorms-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-Medium.eot");
  src: local("TT Norms Medium"), local("TTNorms-Medium"), url("../fonts/TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-Medium.woff2") format("woff2"), url("../fonts/TTNorms-Medium.woff") format("woff"), url("../fonts/TTNorms-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-Bold.eot");
  src: local("TT Norms Bold"), local("TTNorms-Bold"), url("../fonts/TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-Bold.woff2") format("woff2"), url("../fonts/TTNorms-Bold.woff") format("woff"), url("../fonts/TTNorms-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?nk67m1");
  src: url("../fonts/icomoon.eot?nk67m1#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?nk67m1") format("truetype"), url("../fonts/icomoon.woff?nk67m1") format("woff"), url("../fonts/icomoon.svg?nk67m1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_forward:before {
  content: "\e903";
}

.icon-category:before {
  content: "\e900";
  color: #fff;
}

.icon-list:before {
  content: "\e901";
}

.icon-ruler:before {
  content: "\e902";
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  height: 56px;
  margin-bottom: 5px;
}

.logo__title {
  padding-left: 15px;
  color: #444;
  font-family: "TT Norms";
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.logo__title-text {
  font-size: 1.1rem;
  text-transform: lowercase;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
}

.btn-primary {
  position: relative;
  width: 270px;
  color: #fff;
  background-color: #3865D7;
  font-family: "TT Norms";
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 5px;
  padding: 1.5rem 0.75rem;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-primary:hover {
  background-color: #0062cc;
}

.btn-icon-left [class*="icon-"] {
  position: absolute;
  left: 20px;
  font-size: 2.2rem;
}

.btn-icon-right [class*="icon-"] {
  position: absolute;
  right: 10px;
  font-size: 2.2rem;
}

.btn-sale {
  width: 270px;
  position: absolute;
  bottom: 38px;
  color: #444;
  background-color: #EAFB24;
  font-family: "TT Norms";
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 1.5rem 0.75rem;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.2));
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-sale:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #f8e112;
}

.btn-submit {
  width: 100%;
  color: #444;
  background-color: #EAFB24;
  font-family: "TT Norms";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3.0rem;
  border-radius: 5px;
  padding: 1.5rem 0.75rem;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-submit:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #f8e112;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "TT Norms";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "TT Norms";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* &._loaded {
    
 } */
}

._container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

header {
  position: relative;
}

.top-header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center {
  display: inline;
  text-align: center;
  margin-top: 15px;
}

.center ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center__menu li {
  font-family: "TT Norms";
  color: #ccc;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.center__menu li:not(:first-child) {
  margin-left: 20px;
}

.center__menu li a {
  font-size: 1.2rem;
  text-decoration: none;
}

.center__slogan p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #929292;
}

.contacts__phone {
  margin-top: 15px;
  font-family: "TT Norms";
  font-size: 1.8rem;
}

.topmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

.topmenu__category .btn-primary {
  padding: 15px 70px 15px 20px;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.topmenu__category .btn-primary .icon-category {
  font-size: 1.9rem;
  margin-right: 60px;
  vertical-align: bottom;
}

.topmenu__menu {
  margin-left: 50px;
}

.menu-item {
  font-size: 1.6rem;
  margin-left: 20px;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.header__menu {
  position: relative;
  margin: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu .btn-primary {
  text-transform: uppercase;
}

.header__menu .header__menu-list {
  margin-left: 35px;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  display: none;
}

.header__menu .header__menu-item {
  display: block;
  margin-left: 35px;
  white-space: nowrap;
}

.header__menu .header__menu-item a {
  color: #444;
  padding: 20px 0;
  border-bottom: 2px solid transparent;
}

.header__menu .header__menu-item a:hover {
  border-bottom: 2px solid red;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: border-width 1.6s linear;
  -o-transition: border-width 1.6s linear;
  transition: border-width 1.6s linear;
}

.cart {
  position: absolute;
  right: 0;
  display: none;
}

#page {
  min-height: 350px;
  margin-bottom: 150px;
}

#page .pageBox {
  margin-bottom: 60px;
}

#page .boxHeader {
  padding: 30px 0;
}

#page .boxHeader h2 {
  font-size: 3.6rem;
}

#popular .popular__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#popular .popular__cards .productCard {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#popular .popular__cards .productCard__price {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 20px 0;
}

#popular .popular__cards .productCard__description {
  font-size: 1.4rem;
  line-height: 2.6rem;
  text-align: center;
  padding: 0 35px 15px;
}

#service .serviceContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#service .serviceItem {
  position: relative;
  background-color: #E5E5E5;
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  min-height: 100px;
  padding: 20px 30px 20px 70px;
}

#service .serviceItem__num {
  position: absolute;
  top: 8px;
  left: 8px;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #3865D7;
  font-size: 2.4rem;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
}

#service .serviceItem__text {
  font-size: 1.4rem;
  line-height: 2.6rem;
}

#request {
  position: relative;
}

#request .request__inner {
  position: relative;
  background-color: #3865D7;
  min-height: 250px;
  padding: 45px 70px;
}

#request .request__inner #formLight {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 100px;
  top: 30px;
  background: #c6d6fd;
  -webkit-filter: blur(120px);
          filter: blur(120px);
}

#request .form-title {
  color: #fff;
  font-size: 3.6rem;
  font-weight: 500;
}

#request .form-title p.text {
  font-size: 2.2rem;
  line-height: 3.6rem;
  font-weight: 300;
}

#request .request__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

#request .form-field {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  z-index: 100;
}

#request .form-field input {
  height: 60px;
  border-radius: 5px;
  width: 100%;
  padding: 15px;
  font-size: 2.2rem;
}

.footer .footer__inner {
  position: relative;
  color: #fff;
  font-size: 1.6rem;
  line-height: 150%;
  height: 350px;
  padding: 55px 0;
  background-color: #1D1D1B;
}

.footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__content h2 {
  margin-bottom: 20px;
}

.footer .footer__content .form-back {
  margin-top: 50px;
}

.footer .footer__company,
.footer .footer__socials {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.footer .footer__contacts {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.footer .company-description {
  font-size: 1.2rem;
}

.footer .company-name h2 {
  font-size: 2.0rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.promo {
  position: relative;
  height: 496px;
  background-color: #C4C4C4;
}

.promo .promo__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.promo .backlight-gray {
  position: absolute;
  width: 317px;
  height: 318px;
  left: 40px;
  top: 40px;
  background: #E5E5E5;
  -webkit-filter: blur(120px);
          filter: blur(120px);
}

.promo .promo__left {
  width: 30%;
  padding: 35px 0;
}

.promo .promo__menu-item {
  margin-bottom: 10px;
}

._no-webp .promo .promo__right {
  background-image: url("../img/slider.jpg"); }

.promo .promo__right {
  width: 70%;
  background-size: cover;
  background-position: right;
  display: none;
}

@media (min-width: 370px) {
  ._container {
    max-width: 320px;
  }
}

@media (min-width: 576px) {
  .logo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  ._container {
    max-width: 540px;
  }

  .topmenu__menu {
    display: none;
  }
}

@media (min-width: 768px) {
  ._container {
    max-width: 720px;
  }

  .top-header {
    margin-top: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__menu .header__menu-list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .header__menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .cart {
    display: block;
  }

  .promo .backlight-gray {
    left: 115px;
    top: 40px;
  }
}

@media (min-width: 992px) {
  ._container {
    max-width: 960px;
  }

  .promo .promo__right {
    display: block;
  }
}

@media (min-width: 1200px) {
  ._container {
    max-width: 1170px;
  }
}

._webp .promo .promo__right { background-image: url(../img/slider.webp); }