//====================================================================================================
header {
  position: relative;
}

.top-header {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;   
  align-items: center;
  @media ($tablet) {
    margin-top: 20px;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.center {
  display: inline;
  text-align: center;
  margin-top: 15px;
  & ul {
    display: flex;
  }
  // @media ($phone) {
  //   
  // }
}

.center__menu li {
  font-family: $fontFamily;
  color: #ccc;
  font-size: 1.4rem;
  text-transform: uppercase;
  &:not(:first-child) {
      margin-left: 20px;
  }
}

.center__menu li a {
  font-size: 1.2rem;
  text-decoration: none;
}

.center__slogan p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #929292;
}

.contacts__phone {
  margin-top: 15px;
  font-family: $fontFamily;
  font-size: 1.8rem;
  // @media ($phone) {
  //   margin-top: 15px;
  // }

  
}

.topmenu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 60px;
  // @media ($phone) {
  //   justify-content: center;
  // }
  
}
.topmenu__category {
  & .btn-primary {
    padding: 15px 70px 15px 20px;
    font-size: 1.6rem;
    text-transform: uppercase;
    & .icon-category {
      font-size: 1.9rem;
      margin-right: 60px;
      vertical-align: bottom;
    }
   
  }
  
}

.topmenu__menu {
  margin-left: 50px;
  @media ($phoneX) {
    display: none;
  }
}
.menu-item {
  font-size: 1.6rem;
  margin-left: 20px;
}

//====================================================================================================

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.header__menu {
  position: relative;
  margin: 35px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  & .btn-primary {
    text-transform: uppercase;
  }

  & .header__menu-list {
    margin-left: 35px;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    display: none;

    @media ($tablet) {
      display: inline-flex;
    }

  }

  & .header__menu-item {
    display: block;
    margin-left: 35px;
    white-space:nowrap;
    
    

    & a {
      color: $fontColor;
      padding: 20px 0;
      border-bottom: 2px solid transparent;
      
    }

    & a:hover {
      border-bottom: 2px solid red;
      box-sizing: border-box;
      transition: border-width 1.6s linear;
      
     // padding: 22px 0;
    }

  }
  @media ($tablet) {
    justify-content: start;
  }

}

.cart {
  position: absolute;
  right: 0;
  display: none;

  @media ($tablet) {
    display: block;
  }
}


#dropdown-menu {
  //display: none;
  position:absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  background-color: $white;
  border-radius: 3px;
  margin: 3px 0 0 0;
  min-width: 300px;
  border: $grayBg 1px solid;
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.50));
}
.dropdown__inner {
  .menu-item {
    margin: 0;
  }

  ul {
    display: table-cell;
  }
  
  a {
    min-width: 300px;
    display: block;
    padding: 7px 20px;
    clear: both;
    line-height: 30px;
    color: #333333;
    font-size: 1.8rem;
    border-bottom: solid 1px #d2d2d2;
  }

  li a:hover {
    background-color: $grayBg;
  }

  li a span {
    float: right;
    line-height: 2.8rem;
  }

  

}

.scale-in-tl {
  -webkit-animation: scale-in-tl 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: scale-in-tl 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-5-6 14:50:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-tl
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}

.scale-out-tl {
	-webkit-animation: scale-out-tl 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-tl 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-5-6 14:56:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-tl
 * ----------------------------------------
 */
 @-webkit-keyframes scale-out-tl {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 1;
  }
}
@keyframes scale-out-tl {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 1;
  }
}

