//====================================================================================================
#page {
  min-height: 350px;
  margin-bottom: 150px;

  .pageBox {
    margin-bottom: 60px;
  }

  .boxHeader {
    padding: 30px 0;

    h2 {
      font-size: 3.6rem;
    }
  }
}
//====================================================================================================

#popular {

  .popular__cards {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;

    .productCard {
      flex-basis: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .productCard__price {
      font-size: 1.8rem;
      font-weight: 500;
      padding: 20px 0;
    }

    .productCard__description {
      font-size: 1.4rem;
      line-height: 2.6rem;
      text-align: center;
      padding: 0 35px 15px;
    }
  }

}
//== Service section ============================================================================
#service {

  .serviceContent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .serviceItem {
    position: relative;
    background-color: $grayBg;
    flex-basis: 23%;
    min-height: 100px;
    padding: 20px 30px 20px 70px;
  }
  .serviceItem__num {
    position: absolute;
    top: 8px;
    left: 8px;
    color: $white;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: $primary;
    font-size: 2.4rem;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
  }
  .serviceItem__text {
    font-size: 1.4rem;
    line-height: 2.6rem;
  }

}


//== Request Box ==============================================================================

#request {
  position: relative;

  .request__inner {
    position: relative;
    background-color: $primary;
    min-height: 250px;
    padding: 45px 70px;

    #formLight {
      position: absolute;
      width: 180px;
      height: 180px;
      left: 100px;
      top: 30px;
  
      background: #c6d6fd;
      filter: blur(120px);
    }
  
  }

  
  .form-title {
    color: $white;
    font-size: 3.6rem;
    font-weight: 500;
    
    p.text {
      font-size: 2.2rem;
      line-height: 3.6rem;
      font-weight: 300;
    }
  }

  .request__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 30px 0;
  }

  .form-field {
    flex-basis: 30%;
    z-index: 100;

    input {
      height: 60px;
      border-radius: 5px;
      width: 100%;
      padding: 15px;
      font-size: 2.2rem;
    }
  }
}


//== Features Box =================================================================================

#features {
  min-height: 150px;
  background-color: $grayBg;
  margin-bottom: 5px;
  .features__inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

  }

  .features__item {
   
    text-align: center;
  }

  .item__title {
    padding: 20px 0;
    font-size: 1.8rem;
    font-weight: 600;
  }
  
}

//== About Box ===================================================================================

#about {
  position: relative;
  min-height: 380px;
  background-color: $primary;

  #aboutLight {
    position: absolute;
    width: 180px;
    height: 180px;
    left: 100px;
    top: 30px;

    background: #c6d6fd;
    filter: blur(120px);
  }
  .about__inner {
    display: flex;
    flex-flow: row wrap;
    color: $white;
  }

  .about__text {
    padding: 30px 70px;
    //flex-basis: 60%;
    z-index: 1;

    h2 {
      padding: 15px 0;
      font-size: 3.6rem;
      font-weight: 500;
      line-height: 4.6rem;
    }

    p.text {
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 3.0rem;
    }
  }
}

//== 