//fonts
$fontFamily: "TT Norms"; //Шрифт по умолчанию

//colors
$white: #fff;
$primary: #3865D7;

//Screens
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;

$projektor: $maxWidthContainer + 12;
$desktop: 991.98;
$tablet: 767.98;
$phone: 479.98;

$maxWidthProjektor: $projektor + 'px';
$maxWidthDesktop: $desktop + 'px';
$maxWidthTablet: $tablet + 'px';
$maxWidthPhone: $phone + 'px';