//fonts
$fontFamily: "TT Norms"; //Шрифт по умолчанию

//colors
$white: #fff;
$primary: #3865D7;

//size screens
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$projektor: $maxWidthContainer + 12;
$desktop: 991.98px;
$tablet: 767.98px;
$phone: 479.98px;