//fonts
$fontFamily: "TT Norms"; //Шрифт по умолчанию

//colors
$white: #fff;
$fontColor: #444;
$primary: #3865D7;

//Screens
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;

$projektor: $maxWidthContainer + 12;
$desktop: 991.98;
$tablet: 767.98;
$phone: 479.98;

$maxWidthProjektor: 'max-width: ' + $projektor + 'px';
$maxWidthDesktop: 'max-width: ' + $desktop + 'px';
$maxWidthTablet: 'max-width: ' + $tablet + 'px';
$maxWidthPhone: 'max-width: ' + $phone + 'px';