//&display=swap&subset=cyrillic-ext

//@import '../fonts/icons.css';

@font-face {
  font-family: 'TT Norms';
  src: url('TTNorms-Regular.eot');
  src: local('TT Norms Regular'), local('TTNorms-Regular'),
      url('../fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTNorms-Regular.woff2') format('woff2'),
      url('../fonts/TTNorms-Regular.woff') format('woff'),
      url('../fonts/TTNorms-Regular.ttf') format('truetype');
  // font-weight: normal;
  // font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('TTNorms-Medium.eot');
  src: local('TT Norms Medium'), local('TTNorms-Medium'),
      url('../fonts/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTNorms-Medium.woff2') format('woff2'),
      url('../fonts/TTNorms-Medium.woff') format('woff'),
      url('../fonts/TTNorms-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('TTNorms-Bold.eot');
  src: local('TT Norms Bold'), local('TTNorms-Bold'),
      url('../fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTNorms-Bold.woff2') format('woff2'),
      url('../fonts/TTNorms-Bold.woff') format('woff'),
      url('../fonts/TTNorms-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

//Icons font-------------------------------------------------------------------------
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nk67m1');
  src:  url('../fonts/icomoon.eot?nk67m1#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nk67m1') format('truetype'),
    url('../fonts/icomoon.woff?nk67m1') format('woff'),
    url('../fonts/icomoon.svg?nk67m1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_forward:before {
  content: "\e903";
}

.icon-category:before {
  content: "\e900";
  color: #fff;
}
.icon-list:before {
  content: "\e901";
}
.icon-ruler:before {
  content: "\e902";
}
