//<ПЕРЕМЕННЫЕ>===========================================================================================================
@import '_vars';
@import "mixins";
@import "fonts";
@import './components/index';



//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #000;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	/* &._loaded {
    
 } */
}

//<ОСНОВНАЯ СЕТКА>======================================================================================================
@import 'grid';


//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===========================================================
@import "utils/index";
@import "layouts/index";

//<ОСНОВНОЙ БЛОК>===========================================================================================
.page {
	flex: 1 1 auto;
}

.promo {
	position: relative;
	height: 496px;
	background-color: #C4C4C4;

	& .promo__inner {
		display: flex;
    flex-direction: row;
    height: 100%;
	}

	& .backlight-gray {
		position: absolute;
		width: 317px;
		height: 318px;
		left: 40px;
		top: 40px;
		
		background: #E5E5E5;
		filter: blur(120px);

		@media ($tablet) {
			left: 115px;
			top: 40px;
		}
	}

	& .promo__left {

		width: 100%;
    padding: 35px 0;
    text-align: center;

		@media ($tablet) {
			width: 30%;
			padding: 35px 0;
			text-align: left;
		}
		
	}

	& .promo__menu-item {
		margin-bottom: 10px;
	}

	& .promo__right {
		width: 70%;
		background-image: url("../img/slider.jpg");
		background-size: cover;
		background-position: right;
		display: none;
		@media ($desktop) {
			display: block;
		}
	}
}

